# sqlc generated artifacts
data/*.sql.go
data/db.go
data/models.go

# openapi-codegen 
*.gen.go

# local SQLite database
ynafb.db
bin/*

# Any account statements
*.pdf

# Embedded frontend build output
cmd/ynafb-server/web/
